html, body {
  overflow: hidden;
  width: 100vw;
  height: 100dvh;

  padding: 0;
  margin: 0;
  font-size: 16px;
  overscroll-behavior-x: none;
}

#root, .app {
  width: 100%;
  height: 100%;

  & * {
    user-select: none;
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
  }




  .hidden {
    opacity: 0;
    visibility: hidden;
  }

  .gyro {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: visibility .5s, opacity .5s;

    button {
      font-size: 2rem;
      margin: 1rem;
      width: 32rem;
      padding: 1rem 2rem;
      text-transform: uppercase;
      letter-spacing: .1rem;
      background: rgb(50, 50, 50);
      border: none;
      border-radius: 1rem;
      color: white;

    }
  }

  .mobile-controls {
    position: fixed;
    bottom: 3rem;
    left: 3rem;
    right: 3rem;
    display: flex;
    gap: 3rem;
    justify-content: space-between;

    .control-button {
      width: 50%;
      max-width: 15rem;
      height: 15rem;
      border-radius: 1rem;
      border: none;
      background: rgba(255, 255, 255, .25);
    }
  }
  .loading {
    position: absolute;
    inset: 0;
    background: gray;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
  }
}